<div class="backtracking">
  <h3>Backtracking algorithm</h3>
  <table class="sudoku">
    <tr class="row" *ngFor="let row of state">
      <td class="column" *ngFor="let col of row">
        {{col ? col : ''}}
      </td>
    </tr>
  </table>
  <div class="data">
    <p>Time: {{time}} ms</p>
  </div>
  <div class="buttons">
    <button class="button" mat-raised-button (click)="startSolving()">Solve</button>
    <button class="button" mat-raised-button (click)="initState()">Restart</button>
  </div>
</div>
